@use "../../../../styles/variables.scss" as v;
.sub {
	vertical-align: sub;
	font-size: smaller;
}

.stable {
	color: map-get(v.$colors, "green");
}
.unstable {
	color: map-get(v.$colors, "red");
}
.protein {
	margin-top: map-get(v.$spacing, "md");
	margin-bottom: map-get(v.$spacing, "sm");
	font-family: v.$main-font;
	font-size: 2rem;
	color: map-get(v.$colors, "font-color");
	font-weight: 500;
}
.peptide {
	margin-top: map-get(v.$spacing, "md");
	margin-bottom: map-get(v.$spacing, "xsm");
	font-family: v.$main-font;
	font-size: 2rem;
	font-weight: 500;
	color: map-get(v.$colors, "font-color");
	//font-size: 2rem;
	//font-family: v.$main-font;
	//font-weight: 600;
}
.doughnutChart {
	margin-top: map-get(v.$spacing, "sm");
	margin-bottom: map-get(v.$spacing, "sm");
	width: 550px;
}
.hydropathyChart {
	width: 1000px;
}
.Formula {
	width: 100%;
	text-align: center;
	overflow-x: scroll;
	scrollbar-color: map-get(v.$colors, "green") rgb(36, 36, 36);
	scrollbar-width: thin;
	&::-webkit-scrollbar {
		background-color: rgb(36, 36, 36);
		height: 6px;
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb {
		height: 6px;
		border-radius: 10px;
		-webkit-box-shadow: inset 22px 22px 22px map-get(v.$colors, "green");
	}
}
.BiggerFont {
	font-size: 1.2rem;
	font-family: "Lato";
	font-weight: 600;
	padding-left: 1.6rem;
	margin-bottom: map-get(v.$spacing, "esm");
	color: map-get(v.$colors, "font-color");
}
.SmallerFont {
	color: map-get(v.$colors, "font-color");
	margin-bottom: map-get(v.$spacing, "xsm");
	font-size: 1.4rem;
	font-family: "Lato";
	font-weight: 200;
	padding-left: 2rem;
}
.ShowMoreButton {
	background-color: #ffffff;
	border: none;
	border-radius: 0.3rem;
	padding: 0.3rem;
	padding-left: 0.7rem;
	color: black;
	padding-right: 0.7rem;
	margin-top: map-get(v.$spacing, "xsm");
	margin-left: map-get(v.$spacing, "xl");
	cursor: pointer;
	font-weight: 300;
	font-size: 19px;
	font-family: "Lato";
	transition: 0.6s;

	&:hover {
		transition: 0.6s;
		background-color: #d1cfcf;
	}
}
.FormulaWrapper {
	width: 95%;
	margin: auto;
	margin-bottom: map-get(v.$spacing, "md");
	margin-top: map-get(v.$spacing, "md");
}

@media (max-width: 1600px) {
	.Chart {
		scrollbar-color: map-get(v.$colors, "green") rgb(36, 36, 36);
		text-align: center;
		overflow-x: scroll;
		scrollbar-width: thin;
		padding-bottom: 1rem;
		&::-webkit-scrollbar {
			height: 6px;
			background-color: rgb(36, 36, 36);
			border-radius: 10px;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			height: 6px;
			-webkit-box-shadow: inset 22px 22px 22px map-get(v.$colors, "green");
		}
	}
}

@media (max-width: 600px) {
	.doughnutChart {
		width: 420px;
	}
}
