@use "../../../../styles/variables" as v;
@import url("../../../../styles/animations.scss");

.Wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.Input {
	margin-top: map-get(v.$spacing, "md");
	width: 97%;
	transition: 0.5s;

	display: flex;
	align-items: stretch;
	justify-content: center;

	&Button {
		background-color: map-get(v.$colors, "gray");
		border: none;
		border-radius: v.$border-radius;
		padding: map-get(v.$spacing, "sm");
		padding-left: map-get(v.$spacing, "xl");
		padding-right: map-get(v.$spacing, "xl");
		font-size: bold;
		font-size: 20px;
	}

	&HTMLElement {
		border: none;
		outline: none;
		padding: map-get(v.$spacing, "sm");
		padding-right: map-get(v.$spacing, "md");
		padding-left: map-get(v.$spacing, "md");
		margin-bottom: map-get(v.$spacing, "2xl");

		width: 100%;
		background-color: map-get(v.$colors, "dark-gray");
		border-radius: v.$border-radius;

		color: map-get(v.$colors, "white");
		font-size: 2rem;
		font-family: v.$main-font;
		letter-spacing: map-get(v.$spacing, "xsm");

		transition: background-color v.$animation-duration v.$timing-function;
		&Error {
			animation: shake v.$animation-duration v.$timing-function both;
			transition: 1s;
		}

		&:focus {
			transition: 1s;

			border-bottom: 1px solid map-get(v.$colors, "green");
		}
	}

	&Button {
		cursor: pointer;
	}
}

.Message {
	margin-top: map-get(v.$spacing, "lg");
}

.AllowedCharacters {
	// semibold
	font-weight: 600;

	background-color: map-get(v.$colors, "dark-gray");
	color: map-get(v.$colors, "white");
	text-align: center;
	font-size: 1.5rem;
	display: inline-block;
	margin-top: map-get(v.$spacing, "sm");
	padding: 0 map-get(v.$spacing, "md");
	border-radius: v.$border-radius;
}
