@use "../../../../styles/variables.scss" as v;
.Table {
	border-collapse: collapse;
	border: 1px solid map-get(v.$colors, "green");
	&Heading {
		color: map-get(v.$colors, "green");
		font-weight: bolder;
		white-space: nowrap;
	}

	&Column {
		padding: map-get(v.$spacing, "md");
		border: 1px solid map-get(v.$colors, "white");
		text-align: center;
	}
}
