@use "../../../../styles/variables.scss" as v;
.Highlighted {
	background-color: map-get(v.$colors, "green");
	border-radius: v.$border-radius;
	color: black;
	text-decoration: none;
}

.Highlighted:hover {
	background-color: map-get(v.$colors, "gray");
}
