$timing-function: cubic-bezier(0.36, 0.07, 0.19, 0.97);
$animation-duration: 0.4s;

$colors: (
	"error": #ff3333,
	"white": #ffffff,
	"gray": #999da0,
	// "green": #32cd32,
	"green": #4ac957,
	"red": #fa8072,
);

$spacing: (
	"sm": 0.5rem,
	"md": 1rem,
	"lg": 1.5rem,
);
