@use "../../../../styles/variables.scss" as v;
.Wrapper {
	margin: 0 auto;
	width: 200px;
	height: 200px;
}
.Zone {
	width: 100%;
	height: 100%;
	border: 1px solid red;
	margin: 0 auto;
	&Active {
		border: 1px solid green;
	}
}

.FileName {
	text-align: left;
	color: map-get(v.$colors, "white");
}
