@use "../../../../styles/variables.scss" as v;
.Wrapper {
	margin: 0 auto;
	width: 36vw;
	height: 12vw;
}
.Zone {
	width: 100%;
	height: 100%;
	background-color: map-get(v.$colors, "dark-gray");
	border-radius: v.$border-radius;
	margin: 0 auto;
	&Active {
		border: 1px solid green;
	}
}
.AnalysisButton {
	text-align: center;
	margin: auto;
	border-radius: v.$border-radius;
	background-color: map-get(v.$colors, "dark-gray");
	cursor: pointer;
	border: none;
	width: 200px;
	height: 36px;
	font-weight: 500;
	font-size: 19px;
	font-family: v.$main-font;
	color: map-get(v.$colors, "gray");
}
.ButtonWrapper {
	width: 200px;
	height: 36px;
	margin-bottom: 2rem !important;
	border-radius: v.$border-radius;
	margin-top: map-get(v.$spacing, "xl");
	display: flex;
	align-items: center;
	margin: auto;
	text-align: center;
}
.FileName {
	text-align: center;
	color: map-get(v.$colors, "white");
	width: 100%;
	font-family: "Lato";
	padding: 1rem;
	font-weight: 100;
}
.GrayDiv {
	background-color: map-get(v.$colors, "gray");
	width: 18vw;
	height: 12vw;
	border-radius: v.$border-radius;
	animation: left-to-right 2.5s Ease-out forwards;
}
.InputButton {
	font-family: v.$main-font !important;
	position: relative;
	font-size: 20px;
	font-weight: 600;
	padding: 0.6vw;
	padding-left: 2vw;
	padding-right: 2vw;
	background-color: map-get(v.$colors, "green");
	border-radius: v.$border-radius;
	color: map-get(v.$colors, "white");
	z-index: 222;
	border: none;
	bottom: calc(6vw + 12px);
	left: calc(36vw - 20vw - 59px);
	margin: 0 auto;
	cursor: pointer;
	opacity: 0;
	animation: appearance 3.5s Ease-out forwards;
	input {
		display: none;
	}
}
@keyframes left-to-right {
	50% {
		transform: translateX(150%);
	}
	100% {
		transform: translateX(100%);
	}
}
@keyframes appearance {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	70% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	90% {
		opacity: 0.75;
	}
	100% {
		opacity: 1;
	}
}
