@use "../../styles/variables.scss" as v;

.InputContainer {
	width: 100%;
	text-align: center;
}
.Button {
	margin-top: map-get(v.$spacing, "2xl");
	text-align: center;
	background-color: map-get(v.$colors, "gray");
	cursor: pointer;
	border: none;
	border-radius: v.$border-radius;
	padding: map-get(v.$spacing, "sm");
	padding-left: map-get(v.$spacing, "xl");
	padding-right: map-get(v.$spacing, "xl");
	font-weight: 500;
	font-size: 19px;
	font-family: v.$main-font;
}
