@use "../../styles/variables.scss" as v;

.HeaderClass {
	background-color: b;
	font-family: "Lato", sans-serif;
	padding-top: 1rem;
	padding-left: 25px;
	display: flex;
	justify-content: space-between;
	margin-bottom: map-get(v.$spacing, "md");
	margin: auto;
	color: white;
	//color: map-get(v.$colors, "font-color");

	a {
		display: flex;
		text-decoration: none;
		img {
			width: 30px;
			height: 30px;
		}
		p {
			margin-left: 0.6rem;
			font-weight: 300;
			font-size: 22px;
			margin-top: 0.4rem;
			color: white;
		}
	}
}
.Nav {
	display: flex;
	margin-right: 30px;
	a {
		text-decoration: none;
		p {
			margin-left: 0.6rem;
			margin-right: 0.6rem;
			font-family: "Lato", sans-serif;
			font-weight: 300;
			font-size: 18px;
			margin-top: 0.4rem;
			color: white;
			&:hover {
				transition: 0.6s;
				color: rgb(211, 215, 209);
			}
		}
	}
}
.Hamburger {
	display: none;
}
@media (max-width: 600px) {
	.HeaderClass {
		padding-left: 15px;
		a {
			img {
				width: 24px;
				height: 24px;
			}
			p {
				margin-left: 0.6rem;
				font-weight: 300;
				font-size: 18px;
				margin-top: 0.4rem;
				color: white;
			}
		}
	}
	.Nav {
		display: none;
	}
	.Hamburger {
		position: absolute;
		right: 3px;
		top: 5px;
		display: block !important;
		height: 54px;
		width: 54px;
	}
}
