@use "../../styles/variables.scss" as v;
.CodonList {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	flex-wrap: wrap;
	width: auto;
	margin-left: 2rem;
	margin-right: 2rem;
}
.Wrapper {
	font-size: 2rem;
	margin: 0.4rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.Name,
.Codon {
	text-align: center;
}
.Codon {
	font-family: "Lato";
	font-weight: 300;
	font-size: 1.8rem;
	color: map-get(v.$colors, "white");
	&Start {
		color: map-get(v.$colors, "green");
	}
	&Stop {
		color: map-get(v.$colors, "red");
	}
}
.Name {
	font-size: 1rem;
	font-family: "Lato";
	font-weight: thin;
	color: map-get(v.$colors, "wgreen");
}
@media (max-width: 700px) {
	.CodonList {
		width: 80%;
		margin: auto;
	}
	.Wrapper {
		margin: 0.4rem;
	}
}
