@use "../../../../styles/variables.scss" as v;

.Title {
	margin-top: map-get(v.$spacing, "2xl") !important;
	margin-bottom: map-get(v.$spacing, "xl") !important;
	font-family: v.$main-font;
	text-align: center;
	font-size: 3.2rem;
	font-weight: 500;
	color: map-get(v.$colors, "font-color");
	width: 70%;
	margin: auto;
	.TitleNumber {
		color: map-get(v.$colors, "green");
	}
}

.Tip {
	font-family: v.$main-font;
	text-align: center;
	font-size: 1rem;
	color: map-get(v.$colors, "gray");
}

.Wrapper {
	word-break: break-all;

	margin: 0 auto;
	padding-bottom: 3rem;
}
.TopArrow {
	float: right;
	position: sticky;
	bottom: 7px;
	right: 7px;
	height: 35px;
	border-radius: 5px;
	background-color: map-get(v.$colors, "green");
	opacity: 0.8;
	transition: 0.4s;
	&:hover {
		transition: 0.4s;
		opacity: 1;
	}
}
@media (max-width: 1200px) {
	.TopArrow {
		bottom: 5px;
		right: 5px;
		opacity: 0.6;
		height: 35px;
	}
	.Title {
		font-size: 2.8rem;
		margin-bottom: map-get(v.$spacing, "xl") !important;
	}
}
