@use "../../../../styles/variables.scss" as v;

.Wrap {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;

	&Visible {
		white-space: pre-wrap;
		overflow: auto;
	}
}

.Wrapper {
	width: 80%;
	margin: auto;
	color: map-get(v.$colors, "gray");
}
.MiniTitle {
	margin-top: map-get(v.$spacing, "md");
	margin-bottom: map-get(v.$spacing, "md");
	color: white;

	font-family: v.$main-font;
	text-align: left;
	font-size: 2.2rem;
	font-weight: 500;
}
.Table {
	padding: 0.4rem;
	border-radius: v.$border-radius;
	color: map-get(v.$colors, "font-color");
	margin-bottom: map-get(v.$spacing, "sm");
	padding-left: 1.5rem;
	font-size: 1rem;
	font-family: "Lato";
	font-weight: 200;
}
@media (max-width: 1200px) {
	.MiniTitle {
		font-size: 1.7rem;
		font-weight: 500;
	}
}
