@use "../../../../styles/variables.scss" as v;
.Wrapper {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin: auto;
}

.TopArrow {
	position: sticky;
	z-index: 115;
	right: 0px;
	bottom: 20px;
}
@media (max-width: 500px) {
	.Wrapper {
		width: 96%;
	}
}
