@use "../../../../styles/variables.scss" as v;
.CodonList {
	display: flex;
	align-items: center;
	justify-content: left;
}
.Wrapper {
	font-size: 2rem;
	margin: 1rem;
}

.Name,
.Codon {
	text-align: center;
}

.Codon {
	font-size: 2rem;
	color: map-get(v.$colors, "white");
}

.Name {
	font-size: 1.5rem;
	color: map-get(v.$colors, "gray");
}
