@use "../../../../styles/variables.scss" as v;

// tmp
$codon-list-height: 4rem;

.CodonList {
	display: flex;
	align-items: center;
	justify-content: left;
	height: $codon-list-height;
}
.Wrapper {
	font-size: 2rem;
	margin: 1rem;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.Name,
.Codon {
	text-align: center;
}

.Codon {
	font-family: "Lato";
	font-weight: 300;

	font-size: 2.2rem;
	color: map-get(v.$colors, "white");

	&Start {
		color: map-get(v.$colors, "green");
	}

	&Stop {
		color: map-get(v.$colors, "red");
	}
}

.Name {
	font-size: 1.2rem;
	font-family: "Lato";
	font-weight: thin;
	color: map-get(v.$colors, "wgreen");
}
