@use "../../styles/variables.scss" as v;
.Table {
	border-collapse: collapse;
	margin-top: map-get(v.$spacing, "md");
	border: 1px solid rgb(89, 89, 89);
	// background-color: lighten(map-get(v.$colors, "dark-gray"), 5%);
	thead tr {
		white-space: nowrap;
		font-family: "Lato";
		font-size: 1.4rem !important;
		font-weight: 500;
		color: map-get(v.$colors, "font-color") !important;
	}

	tbody {
		font-size: 1.2rem;
		font-weight: 300;
	}
	&Header {
		font-weight: bolder;
		white-space: nowrap;
		font-family: "Lato";
		font-size: 2rem !important;
		font-weight: 500;
	}

	&Cell {
		padding: map-get(v.$spacing, "sm");
		border: 1px solid rgb(89, 89, 89);
		text-align: center;
	}
}
